.nav-link {
    @apply flex flex-row items-center justify-center text-gray-400 rounded-md mb-2 py-2 mx-2 w-32 text-center font-bold transition-all hover:bg-secondary hover:bg-opacity-20 hover:text-white text-xl;
}
.login a {
    @apply flex items-center justify-center w-36 py-2 h-10 rounded-md font-bold ml-4;
}
.fancy-font {
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(90deg, #8863F1, #3300FF);
    background-clip: text;
    color: transparent;
    width: fit;
}
.feature-grid .feature {
    @apply flex flex-col w-full border-solid border-secondary px-8 py-12 hover:cursor-pointer sm:border-0 sm:border-b sm:px-0;
}
.example-image {
    @apply rounded-xl absolute -right-1/2 lg:w-2/3 lg:h-auto lg:mt-16 lg:sticky sm:hidden;
    width: 85%;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.integrations .icon-container {
    @apply relative m-6 w-8 h-8 lg:mx-12 sm:mx-6;
}
.integrations .icon {
    @apply rounded-md hover:cursor-pointer;
}
.integrations .integration-name {
    @apply absolute hidden font-bold bg-secondary p-1 px-2 w-fit rounded-md left-1/2 -translate-x-1/2 -top-8 text-xs whitespace-nowrap;
    animation: fadeOut 0.4s;
}
.integrations .icon-container:hover .integration-name {
    @apply flex;
    animation: fadeIn 0.4s;
}
.tech-features-container .tech-feature {
    @apply flex flex-col m-8;
}
.tech-features-container .tech-feature .icon {
    @apply w-8 h-8;
}
.tech-features-container .tech-feature .title {
    @apply font-bold text-2xl my-2;
}
.tech-features-container .tech-feature .description {
    @apply font-bold text-sm text-secondary;
}